<div class="panel panel-default">
  <div class="panel-body">
    <h2><%= Archangel.t(:index_resource, resource: @users.model_name.human.titleize) %></h2>

    <%= render "buttons" %>
  </div>
</div>


<div class="users-index panel panel-default">
  <div class="panel-body">
    <% if @users.present? %>

      <%= paginate @users %>

      <div class="table-responsive">
        <table class="table table-hover table-bordered table-striped">
          <thead>
            <tr>
              <th scope="col" class="text-center"><%= Archangel.t(:avatar) %></th>
              <th scope="col"><%= Archangel.t(:name) %></th>
              <th scope="col"><%= Archangel.t(:username) %></th>
              <th class="actions text-right" scope="col"><%= Archangel.t(:actions) %></th>
            </tr>
          </thead>

          <tbody>
            <% @users.each do |user| %>
              <tr>
                <td class="text-center"><%= image_tag(user.avatar.tiny.url, class: "img-center img-circle img-responsive", alt: user.username) %></td>
                <td><%= user.name %></td>
                <td><%= user.username %></td>
                <td class="actions text-right">
                  <%= link_to(fa_icon("info-circle", text: Archangel.t(:show)), backend_user_path(user), class: "btn btn-info btn-sm") %>
                  <%= link_to(fa_icon("check-circle", text: Archangel.t(:edit)), edit_backend_user_path(user), class: "btn btn-warning btn-sm") %>
                  <%= link_to(fa_icon("times-circle", text: Archangel.t(:destroy)), backend_user_path(user), class: "btn btn-danger btn-sm",
                                                      method: :delete, data: { confirm: Archangel.t(:are_you_sure) }) %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>

      <%= paginate @users %>

    <% else %>

      <p class="no-resources">
        <%= Archangel.t(:no_resources, resource: @users.model_name.human.pluralize.downcase) %>
      </p>

    <% end %>
  </div>
</div>
