<p id="notice"><%= notice %></p>

<h1>Sites</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Theme</th>
      <th>Locale</th>
      <th>Logo</th>
      <th>Favicon</th>
      <th>Meta keywords</th>
      <th>Meta description</th>
      <th>Deleted at</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @sites.each do |site| %>
      <tr>
        <td><%= site.name %></td>
        <td><%= site.theme %></td>
        <td><%= site.locale %></td>
        <td><%= site.logo %></td>
        <td><%= site.favicon %></td>
        <td><%= site.meta_keywords %></td>
        <td><%= site.meta_description %></td>
        <td><%= site.deleted_at %></td>
        <td><%= link_to 'Show', site %></td>
        <td><%= link_to 'Edit', edit_site_path(site) %></td>
        <td><%= link_to 'Destroy', site, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Site', new_site_path %>
