<div class="card card-default sticky-title rounded-0">
  <div class="card-body">
    <h2><%= Archangel.t(:show_resource, resource: @user.model_name.human.titleize) %></h2>
  </div>
</div>

<div class="card users-show">
  <div class="card-header">
    <%= render "buttons" %>
  </div>

  <div class="card-body">
    <%= image_tag(@user.avatar.small.url, alt: @user.username) %>

    <p>
      <strong><%= Archangel.t(:name) %>:</strong>
      <%= @user.name %>
    </p>

    <p>
      <strong><%= Archangel.t(:username) %>:</strong>
      <%= @user.username %>
    </p>
  </div>
</div>
