<%= simple_form_for([:backend, widget], html: { autocomplete: "false" }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :slug %>
    <%= f.association :design, prompt: :translate %>
    <%= f.input :content, as: :wysiwyg %>
  </div>

  <div class="form-actions text-right">
    <%= f.button :submit, class: "btn btn-primary" %>
  </div>
<% end %>
