<%= simple_form_for([:backend, widget]) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :slug %>
    <%= f.association :template %>
    <%= f.input :content %>
  </div>

  <div class="form-actions text-right">
    <%= f.button :submit %>
  </div>
<% end %>
