<tr>
  <td><%= widget.name %></td>
  <td><%= widget.slug %></td>
  <td class="actions text-right">
    <%= link_to(Archangel.t(:show), backend_widget_path(widget), class: "btn btn-info btn-sm") %>
    <%= link_to(Archangel.t(:edit), edit_backend_widget_path(widget), class: "btn btn-warning btn-sm") %>
    <%= link_to(Archangel.t(:destroy), backend_widget_path(widget), class: "btn btn-danger btn-sm d-none d-md-inline-block",
                                                                    method: :delete,
                                                                    data: { confirm: Archangel.t(:are_you_sure) }) %>
  </td>
</tr>
