<div class="card card-default">
  <div class="card-body">
    <h2><%= Archangel.t(:index_resource, resource: @widgets.model_name.human.titleize) %></h2>
  </div>
</div>

<div class="card widgets-index">
  <div class="card-header">
    <%= render "buttons" %>
  </div>

  <div class="card-body">
    <% if @widgets.present? %>

      <div class="table-responsive text-nowrap">
        <table class="table table-hover table-bordered table-striped">
          <thead>
            <tr>
              <th scope="col"><%= Archangel.t(:name) %></th>
              <th scope="col"><%= Archangel.t(:slug) %></th>
              <th class="actions text-right" scope="col"><%= Archangel.t(:actions) %></th>
            </tr>
          </thead>

          <tbody>
            <%= render partial: "widget", collection: @widgets %>
          </tbody>
        </table>
      </div>

      <%= paginate @widgets %>

    <% else %>

      <p class="no-resources">
        <%= Archangel.t(:no_resources, resources: @widgets.model_name.human.pluralize.downcase) %>
      </p>

    <% end %>
  </div>
</div>
