<div class="card card-default">
  <div class="card-body">
    <h2><%= fa_icon("star") %> <%= Archangel.t(:index_resource, resource: @widgets.model_name.human.titleize) %></h2>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12">
      <div class="card pages-index">
        <div class="card-header">
          <%= render "buttons" %>
        </div>

        <div class="card-body">
          <% if @widgets.present? %>

            <%= paginate @widgets %>

            <div class="table-responsive">
              <table class="table table-hover table-bordered table-striped">
                <thead>
                  <tr>
                    <th scope="col"><%= Archangel.t(:name) %></th>
                    <th scope="col"><%= Archangel.t(:slug) %></th>
                    <th class="actions text-right" scope="col"><%= Archangel.t(:actions) %></th>
                  </tr>
                </thead>

                <tbody>
                  <% @widgets.each do |widget| %>
                    <tr>
                      <td><%= widget.name %></td>
                      <td><%= widget.slug %></td>
                      <td class="actions text-right">
                        <%= link_to(fa_icon("info-circle", text: Archangel.t(:show)), backend_widget_path(widget), class: "btn btn-info btn-sm") %>
                        <%= link_to(fa_icon("check-circle", text: Archangel.t(:edit)), edit_backend_widget_path(widget), class: "btn btn-warning btn-sm") %>
                        <%= link_to(fa_icon("times-circle", text: Archangel.t(:destroy)), backend_widget_path(widget), class: "btn btn-danger btn-sm",
                                                            method: :delete, data: { confirm: Archangel.t(:are_you_sure) }) %>
                      </td>
                    </tr>
                  <% end %>
                </tbody>
              </table>
            </div>

            <%= paginate @widgets %>

          <% else %>

            <p class="no-resources">
              <%= Archangel.t(:no_resources, resources: @widgets.model_name.human.pluralize.downcase) %>
            </p>

          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
