<header class="app-header navbar">
  <button class="navbar-toggler mobile-sidebar-toggler d-lg-none mr-auto" type="button">
    <span class="navbar-toggler-icon"></span>
  </button>

  <a class="navbar-brand" href="<%= backend_root_path %>">
    <span class="d-lg-none"><%= image_tag(current_site.logo.tiny.url, alt: current_site.name) %></span>
    <span class="d-md-down-none"><%= current_site.name %></span>
  </a>

  <button class="navbar-toggler sidebar-toggler d-md-down-none" type="button">
    <span class="navbar-toggler-icon"></span>
  </button>

  <ul class="nav navbar-nav ml-auto">
    <li class="nav-item">
      <a class="nav-link" href="<%= backend_profile_path %>"><%= image_tag(current_user.avatar.tiny.url, alt: current_user.name, class: "rounded-circle") %> <span class="d-md-down-none"><%= Archangel.t(:profile) %></span></a>
    </li>

    <li class="nav-item">
      <a class="nav-link" data-method="delete" href="<%= destroy_user_session_path %>" rel="nofollow"><%= fa_icon("power-off") %> <span class="d-md-down-none"><%= Archangel.t(:logout) %></span></a>
    </li>
  </ul>
</header>
