<header>
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#archangel-header-navbar-collapse" aria-expanded="false">
          <span class="sr-only"><%= Archangel.t(:toggle_navigation) %></span>

          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

        <a href="<%= backend_root_path %>" class="navbar-brand"><%= current_site.name %></a>
      </div>

      <div class="collapse navbar-collapse" id="archangel-header-navbar-collapse">
        <ul class="nav navbar-nav navbar-right">
          <li>
            <a href="<%= backend_profile_path %>"><span class="glyphicon glyphicon-user"></span> <%= Archangel.t(:profile) %></a>
          </li>

          <li>
            <a rel="nofollow" data-method="delete" href="<%= destroy_user_session_path %>"><span class="glyphicon glyphicon-log-out"></span> <%= Archangel.t(:logout) %></a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
