<div class="sidebar">
  <nav class="sidebar-nav">
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link" href="<%= backend_root_path %>"><%= Archangel.t(:dashboard) %></a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="<%= backend_pages_path %>"><%= Archangel.t(:pages) %></a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="<%= backend_designs_path %>"><%= Archangel.t(:designs) %></a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="<%= backend_widgets_path %>"><%= Archangel.t(:widgets) %></a>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="<%= backend_collections_path %>" role="button" aria-haspopup="true" aria-expanded="false"><%= Archangel.t(:collections) %></a>

        <% if current_site.collections.present? %>
          <ul class="dropdown-menu">
            <% current_site.collections.each_with_index do |item, index| %>
              <% next unless item.persisted? %>

              <li class="dropdown-item"><a href="<%= backend_collection_entries_path(item) %>"><%= item.name %></a></li>
            <% end %>
          </ul>
        <% end %>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="<%= backend_users_path %>"><%= Archangel.t(:users) %></a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="<%= backend_assets_path %>"><%= Archangel.t(:assets) %></a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="<%= backend_site_path %>"><%= Archangel.t(:site) %></a>
      </li>
    </ul>
  </nav>

  <button class="sidebar-minimizer brand-minimizer" type="button"></button>
</div>
