<nav class="col-sm-2 col-md-2">
  <ul class="nav">
    <li class="nav-item">
      <a class="nav-link" href="<%= backend_root_path %>"><span class="glyphicon glyphicon-home"></span> <%= Archangel.t(:dashboard) %></a>
    </li>

    <li class="nav-item">
      <a class="nav-link" href="<%= backend_pages_path %>"><span class="glyphicon glyphicon-file"></span> <%= Archangel.t(:pages) %></a>
    </li>

    <li class="nav-item">
      <a class="nav-link" href="<%= backend_collections_path %>"><span class="glyphicon glyphicon-th"></span> <%= Archangel.t(:collections) %></a>
    </li>

    <li class="nav-item">
      <a class="nav-link" href="<%= backend_widgets_path %>"><span class="glyphicon glyphicon-star"></span> <%= Archangel.t(:widgets) %></a>
    </li>

    <li class="nav-item">
      <a class="nav-link" href="<%= backend_assets_path %>"><span class="glyphicon glyphicon-paperclip"></span> <%= Archangel.t(:assets) %></a>
    </li>

    <li class="nav-item">
      <a class="nav-link" href="<%= backend_templates_path %>"><span class="glyphicon glyphicon-pushpin"></span> <%= Archangel.t(:templates) %></a>
    </li>

    <li class="nav-item">
      <a class="nav-link" href="<%= backend_users_path %>"><span class="glyphicon glyphicon-user"></span> <%= Archangel.t(:users) %></a>
    </li>

    <li class="nav-item">
      <a class="nav-link" href="<%= backend_site_path %>"><span class="glyphicon glyphicon-cog"></span> <%= Archangel.t(:site) %></a>
    </li>
  </ul>

  <% if current_site.collections.present? %>
    <ul class="nav">
      <% for item in current_site.collections %>
        <% if item.persisted? %>
          <li>
            <a class="nav-link" href="<%= backend_collection_entries_path(item) %>"><span class="glyphicon glyphicon-th-list"></span> <%= item.name %></a>
          </li>
        <% end %>
      <% end %>
    </ul>
  <% end %>
</nav>
