<div id="navbarSidebar">
  <ul class="sidebar navbar-nav">
    <li class="nav-item active">
      <a class="nav-link" href="<%= backend_root_path %>">
        <i class="fas fa-home"></i>
        <span><%= Archangel.t(:dashboard) %></span>
      </a>
    </li>

    <li class="nav-item">
      <a class="nav-link" href="<%= backend_pages_path %>">
        <i class="fas fa-file"></i>
        <span><%= Archangel.t(:pages) %></span>
      </a>
    </li>

    <li class="nav-item">
      <a class="nav-link" href="<%= backend_widgets_path %>">
        <i class="fas fa-star"></i>
        <span><%= Archangel.t(:widgets) %></span>
      </a>
    </li>

    <li class="nav-item dropdown">
      <a href="<%= backend_collections_path %>" id="pagesDropdown" class="nav-link dropdown-toggle"
                                                role="button"
                                                data-toggle="dropdown"
                                                aria-haspopup="true" aria-expanded="false">
        <i class="fas fa-layer-group"></i>
        <span><%= Archangel.t(:collections) %></span>
      </a>

      <% if current_site.collections.present? %>
        <div class="dropdown-menu" aria-labelledby="pagesDropdown">
          <% current_site.collections.each_with_index do |item, index| %>
            <% next unless item.persisted? %>

            <a class="dropdown-item" href="<%= backend_collection_entries_path(item) %>">
              <i class="fas fa-folder"></i>
              <span><%= item.name %></span>
            </a>
          <% end %>
        </div>
      <% end %>
    </li>

    <li class="nav-item">
      <a class="nav-link" href="<%= backend_designs_path %>">
        <i class="fas fa-paint-roller"></i>
        <span><%= Archangel.t(:designs) %></span>
      </a>
    </li>

    <li class="nav-item">
      <a class="nav-link" href="<%= backend_assets_path %>">
        <i class="fas fa-images"></i>
        <span><%= Archangel.t(:assets) %></span>
      </a>
    </li>

    <li class="nav-item">
      <a class="nav-link" href="<%= backend_users_path %>">
        <i class="fas fa-users"></i>
        <span><%= Archangel.t(:users) %></span>
      </a>
    </li>

    <li class="nav-item">
      <a class="nav-link" href="<%= backend_site_path %>">
        <i class="fas fa-globe-americas"></i>
        <span><%= Archangel.t(:site) %></span>
      </a>
    </li>
  </ul>
</div>
