<section>
  <nav>
    <ul>
      <li><%= link_to(Archangel.t(:dashboard), backend_root_path) %></li>
      <li><%= link_to(Archangel.t(:pages), backend_pages_path) %></li>
      <li><%= link_to(Archangel.t(:templates), backend_templates_path) %></li>
      <li><%= link_to(Archangel.t(:collections), backend_collections_path) %></li>
      <li><%= link_to(Archangel.t(:assets), backend_assets_path) %></li>
      <li><%= link_to(Archangel.t(:site), backend_site_path) %></li>
    </ul>

    <ul>
      <li><%= link_to("Collection A", backend_collections_path) %></li>
      <li><%= link_to("Collection B", backend_collections_path) %></li>
      <li><%= link_to("Collection C", backend_collections_path) %></li>
    </ul>
  </nav>
</section>
