<div class="panel panel-default">
  <div class="panel-body">
    <h2><%= Archangel.t(:show_resource, resource: @collection.model_name.human.titleize) %></h2>

    <%= render "buttons" %>
  </div>
</div>

<div class="collections-show panel panel-default">
  <div class="panel-body">
    <p>
      <strong><%= Archangel.t(:name) %>:</strong>
      <%= @collection.name %>
    </p>

    <p>
      <strong><%= Archangel.t(:slug) %>:</strong>
      <%= @collection.slug %>
    </p>
  </div>
</div>
