<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @collection.name %>
</p>

<p>
  <strong>Slug:</strong>
  <%= @collection.slug %>
</p>

<p>
  <strong>Deleted at:</strong>
  <%= @collection.deleted_at %>
</p>

<%= link_to 'Edit', edit_collection_path(@collection) %> |
<%= link_to 'Back', collections_path %>
