<%= simple_form_for([:backend, template]) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :partial %>
    <%= f.association :parent, as: :select %>
    <%= f.input :content %>
  </div>

  <div class="form-actions text-right">
    <%= f.button :submit %>
  </div>
<% end %>
