<div class="card card-default">
  <div class="card-body">
    <h2><%= Archangel.t(:show_resource, resource: @template.model_name.human.titleize) %></h2>

    <%= render "buttons" %>
  </div>
</div>

<div class="templates-show card card-default">
  <div class="card-body">
    <p>
      <strong><%= Archangel.t(:name) %>:</strong>
      <%= @template.name %>
    </p>

    <p>
      <strong><%= Archangel.t(:content) %>:</strong>
      <%= @template.content %>
    </p>

    <p>
      <strong><%= Archangel.t(:partial) %>:</strong>
      <%= @template.partial? %>
    </p>
  </div>
</div>
