<ul class="nav nav-pills pull-right">
  <% if member_action? || new_action? %>
    <li><%= link_to(fa_icon("chevron-left", text: Archangel.t(:back)), backend_collection_entries_path(@collection)) %></li>
  <% end %>

  <% if collection_action? || show_action? || edit_action? %>
    <li><%= link_to(fa_icon("plus", text: Archangel.t(:new)), new_backend_collection_entry_path(@collection)) %></li>
  <% end %>

  <% if show_action? %>
    <li><%= link_to(fa_icon("check", text: Archangel.t(:edit)), edit_backend_collection_entry_path(@collection, @entry)) %></li>
  <% end %>

  <li><%= link_to(fa_icon("folder-open", text: Archangel.t(:collection)), backend_collection_path(@collection)) %></li>

  <% if show_action? || edit_action? %>
    <li><%= link_to(fa_icon("times", text: Archangel.t(:destroy)), backend_collection_entry_path(@collection, @entry),
                                     method: :delete, data: { confirm: Archangel.t(:are_you_sure) }) %></li>
  <% end %>
</ul>
