<div class="card card-default">
  <div class="card-body">
    <h2><%= fa_icon("circle") %> <%= Archangel.t(:index_resource, resource: @collection.name) %></h2>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12">
      <div class="card pages-index">
        <div class="card-header">
          <%= render "buttons" %>
        </div>

        <div class="card-body">
          <% if @entries.present? %>

            <%= paginate @entries %>

            <%- fields = @collection.fields.map { |item| item.slug } %>

            <div class="table-responsive">
              <table class="table table-hover table-bordered table-striped">
                <thead>
                  <tr>
                    <th class="sort-handle text-center" scope="col">&nbsp;</th>
                    <% fields.each do |field| %>
                      <th scope="col"><%= field.titleize %></th>
                    <% end %>
                    <th scope="col"><%= Archangel.t(:available_at) %></th>
                    <th class="actions text-right" scope="col"><%= Archangel.t(:actions) %></th>
                  </tr>
                </thead>

                <tbody id="sortable">
                  <%= render partial: "entry", collection: @entries, locals: { fields: fields } %>
                </tbody>
              </table>
            </div>

            <%= paginate @entries %>

          <% else %>

            <p class="no-resources">
              <%= Archangel.t(:no_resources, resources: @collection.name.pluralize.downcase) %>
            </p>

          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
