<div class="btn-group pull-right" role="group" aria-label="Button group">
  <% if member_action? || new_action? %>
    <%= link_to(fa_icon("chevron-left"), backend_assets_path, class: "btn btn-link btn-float") %>
    <span class="d-sm-down-none"><%= Archangel.t(:back) %></span>
  <% end %>

  <% if collection_action? || show_action? || edit_action? %>
    <%= link_to(fa_icon("plus"), new_backend_asset_path, class: "btn btn-link btn-float") %>
    <span class="d-sm-down-none"><%= Archangel.t(:new) %></span>
  <% end %>

  <% if show_action? %>
    <%= link_to(fa_icon("check"), edit_backend_asset_path(@asset), class: "btn btn-link btn-float") %>
    <span class="d-sm-down-none"><%= Archangel.t(:edit) %></span>
  <% end %>

  <% if show_action? || edit_action? %>
    <%= link_to(fa_icon("times"), backend_asset_path(@asset), class: "btn btn-link btn-float",
                                 method: :delete, data: { confirm: Archangel.t(:are_you_sure) }) %>
    <span class="d-sm-down-none"><%= Archangel.t(:destroy) %></span>
  <% end %>
</div>
