<%= form_with(model: asset, local: true) do |form| %>
  <% if asset.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(asset.errors.count, "error") %> prohibited this asset from being saved:</h2>

      <ul>
      <% asset.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :file_name %>
    <%= form.text_field :file_name, id: :asset_file_name %>
  </div>

  <div class="field">
    <%= form.label :file %>
    <%= form.text_field :file, id: :asset_file %>
  </div>

  <div class="field">
    <%= form.label :content_type %>
    <%= form.text_field :content_type, id: :asset_content_type %>
  </div>

  <div class="field">
    <%= form.label :file_size %>
    <%= form.number_field :file_size, id: :asset_file_size %>
  </div>

  <div class="field">
    <%= form.label :deleted_at %>
    <%= form.datetime_select :deleted_at, id: :asset_deleted_at %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
