<div class="panel panel-default">
  <div class="panel-body">
    <h2><%= Archangel.t(:show_resource, resource: @asset.model_name.human.titleize) %></h2>

    <%= render "buttons" %>
  </div>
</div>

<div class="assets-show panel panel-default">
  <div class="panel-body">
    <p>
      <strong><%= Archangel.t(:file_name) %>:</strong>
      <%= @asset.file_name %>
    </p>

    <p>
      <strong><%= Archangel.t(:file) %>:</strong>
      <%= @asset.file %>

      <% if @asset.file.image? %>
        <div>
          <%= image_tag(@asset.file.small.url, alt: @asset.file_name) %>
        </div>
      <% end %>
    </p>

    <p>
      <strong><%= Archangel.t(:file_size) %>:</strong>
      <%= number_to_human_size(@asset.file_size) %>
    </p>

    <p>
      <strong><%= Archangel.t(:content_type) %>:</strong>
      <%= @asset.content_type %>
    </p>
  </div>
</div>
