<!DOCTYPE html>
<html>
<head>
  <title>Archangel</title>
  <%= stylesheet_link_tag "archangel/backend", media: "all" %>
  <%= javascript_include_tag "archangel/backend" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render "archangel/shared/flash_messages" %>

<%= yield %>

</body>
</html>
