<div class="panel panel-default">
  <div class="panel-body">
    <h2><%= Archangel.t(:show_resource, resource: Archangel.t(:profile)) %></h2>

    <%= render "buttons" %>
  </div>
</div>

<div class="profile-show panel panel-default">
  <div class="panel-body">
    <%= image_tag(@profile.avatar.small.url, alt: @profile.username) %>

    <p>
      <strong><%= Archangel.t(:name) %>:</strong>
      <%= @profile.name %>
    </p>

    <p>
      <strong><%= Archangel.t(:username) %>:</strong>
      <%= @profile.username %>
    </p>

    <p>
      <strong><%= Archangel.t(:email) %>:</strong>
      <%= @profile.email %>
    </p>
  </div>
</div>
