<div class="card card-default sticky-title rounded-0">
  <div class="card-body">
    <h2><%= Archangel.t(:show_resource, resource: Archangel.t(:profile)) %></h2>
  </div>
</div>

<div class="card profiles-show">
  <div class="card-header">
    <%= render "buttons" %>
  </div>

  <div class="card-body">
    <%= image_tag(@profile.avatar.small.url, alt: @profile.username) %>

    <p>
      <strong><%= Archangel.t(:name) %>:</strong>
      <%= @profile.name %>
    </p>

    <p>
      <strong><%= Archangel.t(:username) %>:</strong>
      <%= @profile.username %>
    </p>

    <p>
      <strong><%= Archangel.t(:email) %>:</strong>
      <%= @profile.email %>
    </p>
  </div>
</div>
