<div class="panel panel-default">
  <div class="panel-body">
    <h2><%= Archangel.t(:show_resource, resource: @site.model_name.human.titleize) %></h2>

    <%= render "buttons" %>
  </div>
</div>

<div class="site-show panel panel-default">
  <div class="panel-body">
    <p>
      <%= image_tag(@site.logo.small.url, alt: @site.name) %>
    </p>

    <p>
      <strong><%= Archangel.t(:name) %>:</strong>
      <%= @site.name %>
    </p>

    <p>
      <strong><%= Archangel.t(:theme) %>:</strong>
      <%= @site.theme %>
    </p>

    <p>
      <strong><%= Archangel.t(:locale) %>:</strong>
      <%= @site.locale %>
    </p>

    <p>
      <strong><%= Archangel.t(:meta_keywords) %>:</strong>
      <%= @site.meta_keywords %>
    </p>

    <p>
      <strong><%= Archangel.t(:meta_description) %>:</strong>
      <%= @site.meta_description %>
    </p>
  </div>
</div>
