<div class="card card-default sticky-title rounded-0">
  <div class="card-body">
    <h2><%= Archangel.t(:show_resource, resource: @site.model_name.human.titleize) %></h2>
  </div>
</div>

<div class="card sites-show">
  <div class="card-header">
    <%= render "buttons" %>
  </div>

  <div class="card-body">
    <p>
      <%= image_tag(@site.logo.small.url, alt: @site.name) %>
    </p>

    <p>
      <strong><%= Archangel.t(:name) %>:</strong>
      <%= @site.name %>
    </p>

    <p>
      <strong><%= Archangel.t(:theme) %>:</strong>
      <%= @site.theme %>
    </p>

    <p>
      <strong><%= Archangel.t(:locale) %>:</strong>
      <%= @site.locale %>
    </p>
  </div>
</div>
