<%= simple_form_for([:backend, page], html: { autocomplete: "false" }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :title %>
    <%= f.input :slug %>
    <%= f.input :homepage %>
    <%= f.association :parent, prompt: :translate %>
    <%= f.association :template, prompt: :translate %>
    <%= f.input :content, as: :wysiwyg %>
    <%= f.input :meta_keywords, as: :meta_keywords %>
    <%= f.input :meta_description %>
    <%= f.input :published_at, as: :date_time_picker %>
  </div>

  <div class="form-actions text-right">
    <%= f.button :submit %>
  </div>
<% end %>
