<tr class="page-<%= page.published? ? "published" : "unpublished" %> page-<%= page.available? ? "available" : "unavailable" %>">
  <td>
    <%= page.title %>

    <%if page.homepage? %>
      <span class="homepage">*</span>
    <% end %>
  </td>
  <td>
    <%= frontend_resource_path(page) %>
  </td>
  <td><%= page.published_at %></td>
  <td class="actions text-right">
    <%= link_to(Archangel.t(:show), backend_page_path(page), class: "btn btn-info btn-sm") %>
    <%= link_to(Archangel.t(:edit), edit_backend_page_path(page), class: "btn btn-warning btn-sm") %>
    <%= link_to(Archangel.t(:destroy), backend_page_path(page), class: "btn btn-danger btn-sm",
                                                                method: :delete,
                                                                data: { confirm: Archangel.t(:are_you_sure) }) %>
  </td>
</tr>
