<div class="card card-default">
  <div class="card-body">
    <h2><%= Archangel.t(:index_resource, resource: @pages.model_name.human.titleize) %></h2>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12">
      <div class="card pages-index">
        <div class="card-header">
          <%= render "buttons" %>
        </div>

        <div class="card-body">
          <% if @pages.present? %>

            <%= paginate @pages %>

            <div class="table-responsive">
              <table class="table table-hover table-bordered table-striped">
                <thead>
                  <tr>
                    <th scope="col"><%= Archangel.t(:title) %></th>
                    <th scope="col"><%= Archangel.t(:permalink) %></th>
                    <th scope="col"><%= Archangel.t(:published) %></th>
                    <th class="actions text-right" scope="col"><%= Archangel.t(:actions) %></th>
                  </tr>
                </thead>

                <tbody>
                  <%= render partial: "page", collection: @pages %>
                </tbody>
              </table>
            </div>

            <%= paginate @pages %>

          <% else %>

            <p class="no-resources">
              <%= Archangel.t(:no_resources, resources: @pages.model_name.human.pluralize.downcase) %>
            </p>

          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
