<div class="card card-default">
  <div class="card-body">
    <h2><%= fa_icon("file") %> <%= Archangel.t(:show_resource, resource: @page.model_name.human.titleize) %></h2>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12">
      <div class="card pages-index">
        <div class="card-header">
          <%= render "buttons" %>
        </div>

        <div class="card-body">
          <p>
            <strong><%= Archangel.t(:title) %>:</strong>
            <%= @page.title %>
          </p>

          <p>
            <strong><%= Archangel.t(:path) %>:</strong>
            <%= frontend_resource_path(@page.path) %>
          </p>

          <p>
            <strong><%= Archangel.t(:slug) %>:</strong>
            <%= @page.slug %>
          </p>

          <p>
            <strong><%= Archangel.t(:content) %>:</strong>
            <%= @page.content %>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
