<div class="card card-default">
  <div class="card-body">
    <h2><%= Archangel.t(:show_resource, resource: @page.model_name.human.titleize) %></h2>
  </div>
</div>

<div class="card pages-show">
  <div class="card-header">
    <%= render "buttons" %>
  </div>

  <div class="card-body">
    <p>
      <strong><%= Archangel.t(:title) %>:</strong>
      <%= @page.title %>
    </p>

    <p>
      <strong><%= Archangel.t(:permalink) %>:</strong>
      <%= frontend_resource_path(@page) %>
    </p>

    <p>
      <strong><%= Archangel.t(:slug) %>:</strong>
      <%= @page.slug %>
    </p>

    <p>
      <strong><%= Archangel.t(:content) %>:</strong>
      <%= @page.content %>
    </p>
  </div>
</div>
