<div class="card card-default">
  <div class="card-body">
    <h2><%= Archangel.t(:show_resource, resource: @page.model_name.human.titleize) %></h2>

    <%= render "buttons" %>
  </div>
</div>

<div class="pages-show card card-default">
  <div class="card-body">
    <p>
      <strong><%= Archangel.t(:title) %>:</strong>
      <%= @page.title %>
    </p>

    <p>
      <strong><%= Archangel.t(:path) %>:</strong>
      <%= URI.decode(frontend_page_path(@page.path)) %>
    </p>

    <p>
      <strong><%= Archangel.t(:slug) %>:</strong>
      <%= @page.slug %>
    </p>

    <p>
      <strong><%= Archangel.t(:meta_keywords) %>:</strong>
      <%= @page.meta_keywords %>
    </p>

    <p>
      <strong><%= Archangel.t(:meta_description) %>:</strong>
      <%= @page.meta_description %>
    </p>

    <p>
      <strong><%= Archangel.t(:content) %>:</strong>
      <%= @page.content %>
    </p>
  </div>
</div>
