<div class="card card-default sticky-title">
  <div class="card-body">
    <h2><%= Archangel.t(:index_resource, resource: @designs.model_name.human.titleize) %></h2>
  </div>
</div>

<div class="card designs-index">
  <div class="card-header">
    <%= render "buttons" %>
  </div>

  <div class="card-body">
    <% if @designs.present? %>

      <%= paginate @designs %>

      <div class="table-responsive text-nowrap">
        <table class="table table-hover table-bordered table-striped">
          <thead>
            <tr>
              <th scope="col"><%= Archangel.t(:name) %></th>
              <th scope="col" class="d-none d-md-table-cell"><%= Archangel.t(:partial) %></th>
              <th class="actions text-right" scope="col"><%= Archangel.t(:actions) %></th>
            </tr>
          </thead>

          <tbody>
            <%= render partial: "design", collection: @designs %>
          </tbody>
        </table>
      </div>

      <%= paginate @designs %>

    <% else %>

      <p class="no-resources">
        <%= Archangel.t(:no_resources, resources: @designs.model_name.human.pluralize.downcase) %>
      </p>

    <% end %>
  </div>
</div>
