<div class="card card-default sticky-title">
  <div class="card-body">
    <h2><%= Archangel.t(:show_resource, resource: @design.model_name.human.titleize) %></h2>
  </div>
</div>

<div class="card designs-show">
  <div class="card-header">
    <%= render "buttons" %>
  </div>

  <div class="card-body">
    <p>
      <strong><%= Archangel.t(:name) %>:</strong>
      <%= @design.name %>
    </p>

    <p>
      <strong><%= Archangel.t(:content) %>:</strong>
      <%= @design.content %>
    </p>

    <p>
      <strong><%= Archangel.t(:partial) %>:</strong>
      <%= @design.partial? %>
    </p>
  </div>
</div>
