<!doctype html>
<html dir="<%= text_direction %>" lang="<%= locale %>">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <%= display_meta_tags %>

    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag "#{current_theme}/auth", media: "all" %>
    <%= yield(:stylesheet) if content_for?(:stylesheet) %>
  </head>
  <body class="app bg-light">

    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-6 col-md-8 col-10">
          <div class="card o-hidden shadow-lg my-5">
            <div class="card-body p-0">
              <div class="p-4">
                <%= image_tag(current_site.logo.medium.url, alt: current_site.name, class: "mx-auto d-block") %>

                <%= render "archangel/shared/flash_messages" %>

                <%= yield %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <%= javascript_include_tag "#{current_theme}/auth" %>
    <%= yield(:javascript) if content_for?(:javascript) %>
  </body>
</html>
