<!doctype html>
<html dir="<%= text_direction %>" lang="<%= locale %>">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title><%= content_for?(:title) ? yield(:title) : Archangel.t(:archangel) %></title>

    <link rel="shortcut icon" href="<%= current_site.favicon.url %>">

    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag "#{current_theme}/auth", media: "all" %>
    <%= yield(:stylesheet) if content_for?(:stylesheet) %>
  </head>
  <body class="app flex-row align-items-center">

    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-6">
          <div class="card">
            <div class="card-body">
              <%= render "archangel/shared/flash_messages" %>

              <%= image_tag(current_site.logo.medium.url, alt: current_site.name, class: "mx-auto d-block") %>

              <%= yield %>
            </div>
          </div>
        </div>
      </div>
    </div>

    <%= javascript_include_tag "#{current_theme}/auth" %>
    <%= yield(:javascript) if content_for?(:javascript) %>
  </body>
</html>
