<!DOCTYPE html>
<html dir="<%= text_direction %>" lang="<%= locale %>">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="shortcut icon" href="<%= current_site.favicon.url %>" type="image/x-icon">

    <title><%= content_for?(:title) ? yield(:title) : Archangel.t(:archangel) %></title>

    <%= csrf_meta_tags %>

    <!--[if lt IE 9]>
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js" type="text/javascript"></script>
    <![endif]-->

    <%= stylesheet_link_tag "#{current_theme}/backend", media: "all" %>
    <%= yield(:stylesheet) if content_for?(:stylesheet) %>
  </head>
  <body>

    <div id="wrapper">
      <aside id="sidebar">
        <%= render "layouts/backend/sidebar" %>
      </aside>

      <main id="page-wrapper" role="main">
        <%= render "layouts/backend/header" %>

        <section class="container-fluid">
          <%= render "archangel/shared/flash_messages" %>

          <%= yield %>
        </section>

        <%= render "layouts/backend/footer" %>
      </main>
    </div>

    <%= javascript_include_tag "#{current_theme}/backend" %>
    <%= yield(:javascript) if content_for?(:javascript) %>

  </body>
</html>
