<!DOCTYPE html>
<html dir="<%= text_direction %>" lang="<%= locale %>">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <%= display_meta_tags %>

    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag "#{current_theme}/backend", media: "all" %>
    <%= yield(:stylesheet) if content_for?(:stylesheet) %>

    <%= render "archangel/shared/auth_token" %>
  </head>

  <body class="app">
    <%= render "layouts/backend/header" %>

    <div id="wrapper">
      <%= render "layouts/backend/sidebar" %>

      <div id="content-wrapper">
        <div class="container-fluid">
          <%= render "archangel/shared/flash_messages" %>

          <%= yield %>
        </div>

        <%= render "layouts/backend/footer" %>
      </div>
    </div>

    <a class="scroll-to-top rounded" href="#">
      <i class="fas fa-angle-up"></i>
    </a>

    <%= javascript_include_tag "#{current_theme}/backend" %>
    <%= yield(:javascript) if content_for?(:javascript) %>
  </body>
</html>
